.el-dialog {
  margin-top: 11.5vh !important;
}
.el-dialog__header {
  background: #FF0000;
  height: 20px;
  line-height: 20px;
  padding: 10px;
}
.el-dialog__header .el-dialog__title {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}
.el-dialog__header .el-dialog__headerbtn {
  top: 10px;
  right: 10px;
}
.el-dialog__header .el-icon-close {
  color: #fff;
}
.dialog-footer {
  text-align: center;
  margin-top: 5px;
}
.dialog-footer .el-button {
  width: 120px;
  background: #b3b3b3;
  color: #fff;
}
.dialog-footer .el-button:last-child {
  background: red;
}
.el-dialog__body {
  padding: 10px 20px;
}
.el-dialog__footer {
  padding: 10px 20px;
}
.el-button {
  border-radius: 4px;
  border: 0;
}
.el-form-item__error {
  padding: 0;
  line-height: 12px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: auto;
}
